<form method="POST" action="<%= url %>?_method=DELETE"> <!-- usar a keyword de _method definida no server.js pra mudar esse POST prra um DELETE -->
    <button class="btn btn-danger" type="submit">Delete</button>
</form>